<!DOCTYPE html>
<html>
<title>Minggu 5</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://badoystudio.com/cloudme.fonts.googleapis.com/css?family=Raleway">
<style>
         /*Tempat foto*/
         th{
            vertical-align: top;
        }
        /*header*/
        .profil{
            text-align: center;
            
        }
       
        /*profil*/
        table{
            width: 990px;
            height: 390px;
            margin: auto;
            font-size: 20px;
        }
        .garis_profil {
            border-bottom: 1px solid #000000;
        }
        body {
        background-image: url('bc2.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size:  100% 100%;
        }
                ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: rgb(13, 57, 175);
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: rgb(255, 255, 255);
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover:not(.active) {
          background-color: rgb(255, 0, 0);
        }

        .active {
          background-color: #04AA6D;
        }
         /*Summary*/
         details > summary {
            padding: 4px;
            width: 200px;
            border: none;
            box-shadow: 1px 1px 2px #200d0d;
            cursor: pointer;
            }

            details > p {
            padding: 4px;
            margin: 0;
            }
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">
    
   
<header class="w3-container w3-center w3-padding-32"> 
<h1><b>MY BLOG</b></h1>
<p>Selamat datang di blog <span class="w3-tag">Film Bioskop</span></p>
</header>
<ul>
    <li><a class="active" href="#home">Repo-minggu</a></li>
    <li><a href="##">Layout</a></li>
    <li><a href="##">Summary</a></li>
    <li><a href="##">Time</a></li>
    <li><a href="##">Audio</a></li>
    <li><a href="##">Audio2</a></li>
    <li><a href="##">Video</a></li>
    <li><a href="##">VideoGif</a></li>
    <li><a href="##">Video-Subtitle</a></li>
    <li><a href="##">Video-Youtube</a></li>
</ul>



<div class="w3-row">


<div class="w3-col l8 s12">

<div class="w3-card-4 w3-margin w3-white">
    <img src="sg_foto1.jpg" alt="Norway" style="width:100%">
    <div class="w3-container">
    
    <p>Link youtube <a href="https://youtu.be/oqxAJKy0ii4" target="_blank">Klik disisi</a></p>
    <h5>Rilis, <span class="w3-opacity">Agustus 14, 2021</span></h5>
    
    
    
    
    <section>
        <h3 align="center">SQUID GAME</h3>
    
        <details >
            <summary>
              Sinopsis
            </summary>
            <p>
              diawali dengan kehidupan Ki Hoon (Lee Jung Jae) yang terlihat begitu menyedihkan. Ki Hoon diceritakan terkena PHK dan akhirnya terjerat utang begitu besar.
              Di saat Ki Hoon berada dalam titik terendah, ia mendengar kabar tentang permainan yang memberikan hadiah sebesar 45,6 miliar won untuk pemenang.
              Hal itu pun langsung membuat Ki Hoon tertarik untuk bergabung dalam permainan Squid Game.Setibanya di lokasi permainan, Ki Hoon menyadari jika dirinya tidak sendirian. Ada 455 orang lainnya berada di sana.
              Dari 455 pemain yang ada, satu-satunya kesamaan di antara para peserta adalah mereka membutuhkan uang untuk membayar semua utang-utangnya.
              Setelah berada di tempat tersebut, mereka diminta persetujuan untuk mengikuti permainan tanpa mengetahui detail sama sekali. Mereka hanya mengetahui pemenang akan diberikan uang banyak.
              Di sana, Ki Hoon melihat Sang-woo (Park Hae-soo), teman masa kecilnya. Ia tak percaya dengan hal itu karena Sang Woo selama ini dikenal sebagai orang sukses, yakni lulusan universitas ternama di Korea dan memiliki pekerjaan yang stabil.
              Hingga tiba saatnya mereka diminta untuk mengikuti semua permainan yang ada di dalam Squid Game.
              Mulanya para peserta dibuat heran, lantaran semua game yang ada dalam pertandinga merupakan permainan anak-anak.
              Namun bedanya, siapapun yang kalah dalam permainan tersebut maka akan langsung dibunuh oleh para penjaga yang mengenakan baju berwarna merah.
              Di game pertama, sudah banyak korban yang berjatuhan lantaran tak bisa menyelesaikan permainan Squid Game dengan baik.
              Ki Hoon merasa depresi sekaligus kaget karena harus menyaksikan banyak orang tewas secara mengenaskan di depan matanya sendiri.

            </p>
        </details>
    
    
        <details >
          <summary>
            Audio & Video Trailer
          </summary>
          <p>
            <audio  controls>
                <source  src="mp3_sg.mp3" type="audio/mpeg">
            </audio> 
        
            <video width="600" controls>
                <source src="vide_sg.mp4" type="video/mp4">
            </video>
           </p>
        </details>


        <details >
          <summary>
            Video subtitle
          </summary>
          <p>
        
            <video width="600" controls>
                <source src="SG_subtitle.mp4" type="video/mp4">
            </video>
           </p>
        </details>

        <details >
            <summary>
              Di balik layar squid game
            </summary>
            <p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/M_MEj9JITBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
            </p>
          </details>
    
    
        <details>
            <summary>
              Video Gif
            </summary>
            <p>
                <gif width="900" controls>
                    <img src="gif_sg1.gif">
                </gif>
            </p>
        </section> 



          
    </div>
    
    <div class="w3-container">
    <p>
        Thanks You
        <br>
        <div class="w3-row">
    <div class="w3-col m8 s12"></div>
    <div class="w3-col m4 w3-hide-small">
    </div>
    </div>
    </div>
    </div>
<hr>


<div class="w3-card-4 w3-margin w3-white">
<img src="spong_foto.jpg" alt="Norway" style="width:100%">
<div class="w3-container">

<p>Link youtube <a href="https://youtu.be/oqxAJKy0ii4" target="_blank">Klik disisi</a></p>
<h5>Rilis, <span class="w3-opacity">Agustus 14, 2020</span></h5>




<section>
    <h3 align="center">Sponge on the Run 2020</h3>

    <details >
        <summary>
          Sinopsis
        </summary>
        <p>
            SpongeBob telah menjalani kebersamaan cukup lama dengan Gary, siput peliharaannya. Kedekatan ini membuat SpongeBob kembali mengenang awal pertemuannya dengan Gary.
            Saat itu mereka masih sama-sama kecil. Dengan keriangan yang khas, SpongeBob bermain di sebuah taman. Di balik batu kecil, SpongeBob melihat Gary sedang bersembunyi. 
            SpongeBob memberikan makanan. Ada keraguan kecil dari Gary. Namun akhirnya Gary menerima makanan dari SpongeBob. Mereka saling berteman sejak saat itu. Hari yang tak terduga terjadi. SpongeBob tidak menemukan Gary di seluruh bagian rumahnya.
            Ada dugaan Gary hilang akibat sebuah penculikan. Dia sudah menanyakan keberadaan Gary pada Mr. Crab, Squidward, dan Sandy, tapi tidak ada yang tahu. Mau tidak mau, SpongeBob harus melakukan perjalanan untuk mencari Gary. Dia akan berpetualang bersama sahabatnya, Patrick. 
            Tidak ketinggalan, Mr. Crab, Squidward, dan Sandy juga turut membantu. Mereka akan melintasi banyak tempat, termasuk tempat dengan nuansa koboi. Di tempat itulah, mereka bertemu dengan Keanu Reeves. Tentu bukan perwujudan Reeves secara utuh.
            Hanya ada penggambaran sebagian tubuh Reeves di jerami berbentuk bulat. Setelah berpisah dengan Reeves, perjalanan kemudian berlanjut ke berbagai tempat lain. Salah satu tempat yang mereka kunjungi termasuk casino untuk arena perjudian.
     </p>
    </details>


    <details >
      <summary>
        Audio & Video Trailer
      </summary>
      <p>
        <audio  controls>
            <source  src="mp3_spong.mp3" type="audio/mpeg">
        </audio> 
        <video width="600" controls>
            <source src="video_spong.mp4" type="video/mp4">
        </video>

       </p>
    </details>

    <details >
        <summary>
          Alur cerita (youtube)
        </summary>
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mHw6nJ65iIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </p>
      </details>


    <details>
        <summary>
          Video Gif
        </summary>
        <p>
            <gif width="900" controls>
                <img src="gif_spongbob1.gif">
            </gif>
        </p>
      </section> 
</div>

<div class="w3-container">
<p>
    Thank You
    <br>
    <div class="w3-row">
<div class="w3-col m8 s12"></div>
<div class="w3-col m4 w3-hide-small">
</div>
</div>
</div>
</div>

</div>

<div class="w3-col l4">

<div class="w3-card w3-margin w3-margin-top">
<img src="foto1.jpg" style="width:100%">
<div class="w3-container w3-white">
<h4><b>My Name</b></h4>
<p>Hello, Nama saya Luthfil Hakim Imron yang bertempat dinggal di Grobogan, Jawa Tegah. Saya 
    Sekarang menempuh pendidikan S1 yang ada di UDINUS, saya mengambil Teknik Informatika sebagai bekal perjalanan hidup saya kedepannya.
</p>
</div>
</div><hr>



<hr> 


<div class="w3-card w3-margin">
<div class="w3-container w3-padding">
<h4>Genre</h4>
</div>
<div class="w3-container w3-white">
<p><span class="w3-tag w3-black w3-margin-bottom">drakor</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">crim</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">horor</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">drana</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">adventure</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">history</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">action</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">USA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">thriller</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">box office</span>
</p>
</div>
</div>


</div>


</div><br>


</div>


<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
<button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
<button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>

</footer>

</body>
</html>